{{ if eq .chezmoi.os "darwin" }}
    echo 'on macos!'
    brew install git neovim firefox
{{ else if eq .chezmoi.os "linux" }}
echo 'on linux!'
# !/bin/bash
    echo "Hi! This is my install script\n"
    echo -n "Please enter your preferred github email: "
    read email

## 
echo "-- Enabling Extra Repos (RPM Fusion Releases,zola/lazygit @ COPR) --"
    sudo dnf config-manager --add-repo https://copr.fedorainfracloud.org/coprs/atim/lazygit/repo/fedora-38/atim-lazygit-fedora-38.repo
    sudo dnf config-manager --add-repo https://copr.fedorainfracloud.org/coprs/fz0x1/zola/repo/fedora-38/fz0x1-zola-fedora-38.repo
    sudo dnf config-manager --save

    sudo dnf install https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
    sudo dnf install https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

echo "-- Installing Essentials --"
    sudo dnf install -y --allowerasing gcc clang git curl wget alacritty exa zsh neovim vlc rofi \
        neofetch polybar picom lazygit zola discord zstd ripgrep grub-customizer \ 
        mpv lame ffmpeg lldb scrot

echo "-- Installing FiraMonoNerdFont --"
    wget https://github.com/ryanoasis/nerd-fonts/releases/download/v3.0.2/FiraMono.zip -P "$PWD"
    sudo mkdir /usr/share/fonts/FiraMonoNerdFont
    sudo unzip FiraMono.zip -d /usr/share/fonts/FiraMonoNerdFont
    rm -rf FiraMono.zip

echo "-- Setting up SSH key for Github --"
    ssh-keygen -t ed25519 -C "$email"
    eval "$(ssh-agent -s)"
    ssh-add  ~/.ssh/id_ed25519
    cat ~/.ssh/id_ed25519.pub
    read -p "Press ENTER only after you've added your SSH key (https://github.com/settings/keys)"

echo "-- Setting ZSH as default shell --"
    chsh -s /usr/bin/zsh
    sudo chsh -s /usr/bin/zsh

echo "-- Installing Rust + extras --"
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
    # cargo binstall installation
    curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash
    cargo binstall cargo-watch rtx-cli watchexec-cli
    echo 'eval "$(~/.cargo/bin/rtx activate zsh)"' >> ~/.zshrc

echo "-- Configure keyboard, qwerty + programmers dvorak --"
    localectl --no-convert set-x11-keymap us,us intl,dvorak grp:alt_shift_toggle

read -p "Base configuration done. Dot files will now be added to the system. Press any key to continue."

echo "-- Downloading/Applying chezmoi dot files --"
    # chezmoi should be responsible for then configuring most things, such as:
    # .config folder, zsh plugins, amongst other things
    (sh -c "$(curl -fsLS get.chezmoi.io)" -- init gusluchetti/dots --ssh --apply)
{{ else if eq .chezmoi.os "windows" }}
echo 'on windows!'
echo "`n Installing essentials programs through WinGet..."
winget install -e Microsoft.PowerShell --source winget
winget install -e Microsoft.WindowsTerminal --source winget
winget install -e Microsoft.Office --source winget
winget install -e Microsoft.VisualStudio.2022.BuildTools --source winget
winget install -e Microsoft.PowerToys --source winget
echo "`n Select Desktop C++ Development!"

winget install -e Github.cli --source winget
winget install -e Valve.Steam --source winget
winget install -e Discord.Discord --source winget

winget install -e iCloud --source msstore # icloud from the msstore :(

Read-Host "Initial setup complete! If you'd like, quit this setup and go to Windows Terminal to proceed..."

$ErrorActionPreference = 'Continue'
echo "`nInstalling Scoop Package Manager..."
Set-ExecutionPolicy RemoteSigned -Scope CurrentUser
Invoke-RestMethod get.scoop.sh | Invoke-Expression

echo "`nSetting up clean Scoop installation..."
scoop uninstall *
scoop install sudo
sudo scoop install aria2 -g
scoop config aria2-warning-enabled false

scoop alias rm full-upgrade
scoop alias add full-upgrade 'scoop update && scoop update * -g && scoop cleanup * -g' '(sudo required) Globally updates scoop, all apps and cleans up old versions'

echo "`nInstalling Powershell Modules..."
sudo Install-Module -Name z

echo "`nInstalling git and dark (essential dependencies)..."
scoop install git dark
echo "`nAdding 'extras' and 'versions' buckets..."
scoop bucket add extras
scoop bucket add versions
scoop bucket add games

echo "`nInstalling essentials..."
sudo scoop install 7zip vlc gh googlechrome firefox spotify -g
scoop install obsidian neovim anki
scoop install foobar2000 -a 32bit && scoop install foobar2000-encoders

echo "`nInstalling qBitTorrent 4.5.2 (latest version whitelisted by bakabt.me)..."
scoop install qbittorrent@4.5.2
echo "`nInstalling extras..."
scoop install teamspeak3 logitech-omm obs-studio gimp franz flameshot vscode
scoop install wiztree wizfile revouninstaller handbrake-cli ventoy

echo "`nInstalling global extras..."
sudo scoop install ddu msiafterburner msikombustor rtss furmark -g
sudo scoop install librehardwaremonitor -g

echo "`nInstalling gaming related programs..."
sudo scoop install osulazer ferium -g
scoop install autoclicker yuzu betterjoy

echo "`nInstalling development things..."
sudo scoop install touch curl ripgrep sd less -g 
scoop install neofetch gcc rustup nodejs pnpm oh-my-posh zola
scoop install pyenv@2.64.11 && scoop hold pyenv # python being finicky as usual
scoop install pandoc miktex

echo "`nInstalling Rust/Cargo programs..."
cargo install cargo-binstall
cargo binstall speedtest-rs wiki-tui

echo "`nInstalling nerd fonts (FiraCode)"
scoop bucket add nerd-fonts
sudo scoop install FiraCode-NF-Mono CascadiaCode-NF-Mono -g 

echo "`nA restart is necessary to apply some changes made by global apps..." 
echo "`nRestarting in 2 seconds..." 
Start-Sleep -Seconds 2.0
Restart-Computer
{{ end }}
